{
  "presets": ["minify", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src"],
    }]
  ],
  "ignore": ["node_modules"]
}
